# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.thm
*.dvi
*.ps
*.ilg
*.ind
*.idx
*.acn
*.glo
*.gls
*.ist
*.loa
*.lsg
*.lbx
*.run.xml